{% extends 'base.html' %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">KPI Data History</div>
    <div class="panel-body">
      <p>View, edit, and delete historical KPI data.</p>
    </div>
    <table class="table">
      <tr>
        <th>MONTH</th>
        <th>MILES</th>
        <th>AVG DRIVERS</th>
        <th></th>
      </tr>
      {% for month in data %}
        <tr>
          <td>{{ month.month_id }}</td>
          <td>{{ month.miles }}</td>
          <td>{{ month.avg_drivers }}</td>
          <td class="edit-icons">
            <a href="{{ url_for('edit', id=month.month_id) }}" class="btn btn-default">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="{{ url_for('delete', id=month.month_id) }}" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
