{% extends 'base.html' %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">KPI Data History</div>
    <div class="panel-body">
      <p>View, edit, and delete historical KPI data.</p>
    </div>
    <table class="table">
      <tr>
        <th>MONTH</th>
        <th>MILES</th>
        <th>AVG DRIVERS</th>
      </tr>
      {% for month in data %}
        <tr>
          <td>{{ month.month_id }}</td>
          <td>{{ month.miles }}</td>
          <td>{{ month.avg_drivers }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
